-r requirements.txt
scipy
nose
parameterized
pytest
pytest-cov>=2.6.1
pytest-env
coveralls
pybind11
celerite>=0.3.1
starry
batman-package
radvel
ipython>=8.10.0 # not directly required, pinned by Snyk to avoid a vulnerability
